*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #000;
    color: white;
}

header{
    background: #000;
    padding: 20px;
    border-bottom: 2px solid #00ff88;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #00ff88;
    font-size: 28px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

ul li a:hover{
    color: #00ff88;
}


.hero{
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 50px;
}

.hero h1{
    font-size: 35px;
}

.hero h2{
    color: #00ff88;
    font-size: 45px;
}

.hero h3{
    margin: 15px 0;
}

.hero p{
    max-width: 500px;
    line-height: 1.6;
}


.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #00ff88;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}


section{
    padding: 50px;
}


section h2{
    color: #00ff88;
    text-align: center;
    margin-bottom: 30px;
}


.skill-box,
.project-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card,
.edu-card,
.project-card,
.contact-card{

    background: #111;
    border: 1px solid #00ff88;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;

}


.card:hover,
.project-card:hover{

    transform: translateY(-5px);
    box-shadow: 0 0 15px #00ff88;

}


.about p,
.contact-card p{

    line-height: 1.8;
}


footer{

    text-align: center;
    padding: 20px;
    border-top: 1px solid #00ff88;

}